@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{margin: 0; padding: 0;}

body{
  font-size: 18px;
  font-family: 'GmarketSansLight';
}

ul li{list-style-type: none; margin: 0; padding: 0;}

#header{
  width: 1200px;
  height: 120px;
  background-color: #000;
  position: absolute;
  z-index: 2;
  display: flex;
  left:50%; transform:translateX(-50%);
}

#header > nav{
  width: calc(1200px - 140px);
  height: 45px;
  margin: auto;
  
}

#header > nav > img{
  width: 170px;
  float: left;

}

#quickbar{
  width: 80px;
  height: 361px;
  background: #8a7a67;
  position: fixed;
  z-index: 2;
  bottom: 300px;
  left: 95%;
}

#quickbar ul{display: table;}



#header > nav > ul{
  width: calc(1060px - 200px);
  float: right;
  margin: 0 auto 50px;
}

#header > nav > ul > li{
  width: calc(860px / 7);
  float: left;
  text-align: center;
  line-height: 45px;
  color: white;
}

#header > nav > ul > .list7{
  background: #fff;
  color: black;
  border-radius: 30px;
  font-family: 'GmarketSansMedium';
  font-weight: bold;
}

#mainslide{
  position: relative;
  z-index: 1;
}

#mainslide > ul > li img{
  width: 100%;
}

#content{
  width: 1200px;
  margin: auto;
}

#content > .ticketbox{
  background: #f1f1f1;
  padding: 30px;
  position: relative;
  bottom: 250px;
  z-index: 2;
}

#content > .ticketbox > ul{
  width: 1200px;
  position: relative;
  right: 30px;
  bottom: 110px;
}

#content > .ticketbox > ul > li .every, .art{
  width: calc(1200px / 2);
  height: 80px;
  font-size: 25px;
  float: left;
  border: none;
}



#content > .ticketbox > ul > li .every{
  background-color: #8a7a67;
  font-family: 'GmarketSansMedium';
  color: white;
}

#content > .ticketbox > ul > li .art{
  background-color: #292929;
  font-family: 'GmarketSansMedium';
  color: white;
}

#content > .ticketbox > .ticketing{
  width: calc(1060px / 2);
  height: 166px;
  
}

#content > .ticketbox > .ticketing > form > fieldset{
  border-style:none;
}

#content > .ticketbox > .ticketing > form > fieldset > legend{
  text-indent: -9999px;
}

#content > .ticketbox > .ticketing > form > fieldset > ul > li{
  font-family: 'GmarketSansMedium';
  line-height: 60px;
  position:relative;
  bottom: 100px;
}

#content > .ticketbox > .ticketing > form > fieldset > ul > li > label > input{
  width: 420px;
  height: 42px;
  float: right;
  border: none;
  background-color: #dfdfdf;
}

#content > .ticketbox > .ticketing > form > fieldset > ul > li > .nameT{
  letter-spacing: 35px;
}

#content > .ticketbox > .ticketing > form > fieldset > ul > li > .dayT{
  letter-spacing: 10px;
}

#content > .ticketbox > .infomation{
  width: calc(1060px - 480px);
  float: right;
  position: relative;
  bottom: 160px;
  height: 166px;
}

#content > .ticketbox > .infomation > table{
  height: 135px;
  width: calc(1060px - 480px);
}

#content > .ticketbox > .infomation > table > tbody > tr{
  margin-bottom: 20px;

}

#content > .ticketbox > .infomation > table > tbody > tr > td{
  width: calc(1060px - 480px / 4);
}

#content > .ticketbox > .infomation > table > tbody > tr > .one{
  letter-spacing: 50px;
}

#content > .ticketbox > button{
  width: calc(1200px - 60px);
  height: 67px;
  font-size: 25px;
  background-color: #8a7a67;
  border: none;
  font-family: 'GmarketSansMedium';
  color: white;
  position: relative;
  bottom: 125px;
}

#content > .ticketbox > .infotext{
  width: calc(1200px - 60px);
  position: relative;
  font-size: 14px;
  bottom: 100px;
}

#content > .ticketbox > .infotext > .info01, .info02 
{float: left;}

#content > .ticketbox > .infotext > .info01 
{margin-right: 30px; }